<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/mycss.css">
    <title>Document</title>
</head>
<body>
    <form action="/product/add" method="post">
        <p>Product Name<input name="productName"></p>
        <p>Description<input name="description"></p>
        <p>Price<input type="number" name="price"></p>
        <button>Save</button>
    </form>
</body>
</html>